.orders-item {
  @apply px-6 py-4 mx-auto rounded-lg shadow-lg shadow-gray-500/85 flex gap-5 flex-col items-center mb-4;
}

.orders-item .orders__header {
  @apply w-full flex justify-between items-start gap-3;
}

.orders-item .orders__header .order__id {
  @apply font-noto font-bold text-lg text-black;
}

.orders-item .orders__header .order__date {
  @apply font-noto text-sm text-gray-500
}

.orders-item .orders__header .state {
  @apply border-2 border-green-300 px-3 py-1 rounded-lg bg-green-200;
}

.orders-item .orders__header .state p {
  @apply font-noto font-bold text-sm text-black;
}

.orders-item .orders__contain {
  @apply w-full flex flex-col gap-2;
}

.orders-item .orders__contain p {
  @apply font-noto text-sm
}